[Unit]
Description=Install missing default Flatpaks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/install-default-flatpaks.sh